* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: lightslategray;
    color: black;
    font-family:'Segoe UI', sans-serif;
}

#holder {
    display: flex;
    margin: 5vh auto;
    height: 90vh;
    width: 90vh;
    outline: solid 2px black;
    align-items: start;
    justify-content: start;
}

#square {
    background-color: yellow;
    height: 50%;
    width: 50%;
    text-align: center;
    line-height: 45vh;
    cursor: pointer;
    transition: 0.5s;
}

p {
    margin: 0;
}