* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;

}

body {
    display: grid;
    place-items: center;
    background-color: slateblue;
}

main {
    background: url(images/background1.png);
    height: 812px;
    width: 375px;
}

.container {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}